* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --light-blue : #33ABEF;
    --dark-blue : #004AAD;
    --light-blue-2 : #bed9f2;
    --white-green : #D4EFEB;
    --dusty-pink : #D58A94;
    --black-blue : #00008B;
    --gray : #808080;
    --light-gray : #d3d3d3;
}


main {
    text-align: left;
    justify-content: center;
    background-color: #eff1f7;
}

header {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding-right: 10em;
    padding-left: 1em;
    background-color: var(--light-blue);
}

#nav1 {
    padding-top: 0.2em;
    padding-bottom: 1em;
    text-align: left;
}

#nav2 {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    color: #bed9f2;
    align-items: center;
}

#profile {
    position: relative;
    padding: 0;
    margin-left: auto;
    margin-bottom: -10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: -1.2em;
    color: var(--dark-blue);
    z-index: 5;
}

#profile h4 {
    color: var(--light-blue-2);
}

#profile i {
    margin-top: 0.5em;
}

#profile-right {
    display: flex;
    flex-direction: column;
}


/*Profile popup*/

#profile-popup {
    position: absolute;
    z-index: 12312321320;
    background-color: white;
    padding: 2em;
    visibility: hidden;
    max-width: 10em;
    width: 80%;
    text-align: left;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    top: 100%; /* position it below the #profile element */
    left: 0;
}

#profile:hover #profile-popup {
    visibility: visible;
}

#profile-popup {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profile-popup h3 {
    padding-left: 0.3em;
}

#profile-popup-logout a {
    display: block;
    color: #33ABEF;
    text-decoration: none;
}

#profile-popup-logout a:hover {
    text-decoration: underline;
}

.navh {
    color: var(--dark-blue);
    white-space: nowrap;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px !important;

}
.navh {
    padding: 16px 40px 13px 40px;
    transition: background-color 0.3s;
}


.navh:hover {
    background-color: #5cbcf2;
    cursor: pointer;
}

#highlight {
    background-color: #adddf9 !important;
}

.fa-light {
    margin-right: 1em;
    font-size: 1.5em;
}


.white-background {
    background-color: white;
    margin-top: 2em;
    margin-bottom: 2em;
}


/* after */
#selective-gray-background {
    position: absolute;
    top: 8.8em;
    z-index: 2;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(105, 105, 105, 0.3);
    visibility: hidden;
}


.info-change {
    position: fixed;
    z-index: 1020410241;
    border: 1px solid var(--dark-blue);
    box-shadow: 2px 5px 5px var(--light-blue);
    background-color: var(--white-green);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    visibility: hidden;
    max-width: 400px;
    width: 80%; /* Set a percentage width for responsiveness */
    text-align: center; /* Center text within the container */
}

.info-change input {
    margin-top: 1em; /* Add spacing between input and button */
    padding: 1em;
    width: 100%; /* Make the input full-width */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.info-change button {
    margin-top: 1em; /* Add spacing above the button */
    padding: 1em;
    width: 100%; /* Make the button full-width */
    border: 1px solid var(--dark-blue);
    text-decoration: none;
    background-color: var(--light-blue);
    transition: background-color 0.3s linear;
}

.info-change button:hover {
    background-color: var(--dark-blue);
    cursor: pointer;
}

.visible {
    visibility: visible !important;
}

#employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.employee {
    width: 300px;
    padding: 1.5em;
    background-color: #00008B;
    color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    margin: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.employee:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.employee-name {
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.actions p {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: #3498db;
    font-weight: 500;
    border: 2px solid #3498db;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.actions p:hover {
    background-color: #3498db;
    color: #ecf0f1;
    cursor: pointer;
}

.employee-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    top: 0;
    left: 0;
}

.send-message,
.change-sick-days,
.change-vacation-days,
.change-hours-worked-this-week {
    position: absolute;
    background-color: var(--black-blue);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    width: 500px;
}


.send-message input,
.change-sick-days input,
.change-vacation-days input,
.change-hours-worked-this-week input {
    margin-top: 2em;
    padding: 8px;
    border: 2px solid #3498db;
    color: #3498db;
    background-color: var(--black-blue);
}

.send-message input[type=text],
.change-sick-days input[type=text],
.change-vacation-days input[type=text],
.change-hours-worked-this-week input[type=text] {
    width: 14em;
}

.send-message input[type=submit],
.change-sick-days input[type=submit],
.change-vacation-days input[type=submit],
.change-hours-worked-this-week input[type=submit] {
    transition: 0.3s color ease-in-out, 0.3s background-color ease-in-out;
}

.send-message input[type=submit]:hover,
.change-sick-days input[type=submit]:hover,
.change-vacation-days input[type=submit]:hover,
.change-hours-worked-this-week input[type=submit]:hover {
    cursor: pointer;
    background-color: #3498db;
    color: white;
}

/* Add styles for the close button or any other elements inside the popup */
.send-message button,
.change-sick-days button,
.change-vacation-days button,
.change-hours-worked-this-week button {
    background-color: var(--black-blue);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-button::before {
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}