* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --light-blue : #33ABEF;
    --dark-blue : #004AAD;
    --light-blue-2 : #bed9f2;
    --white-green : #D4EFEB;
    --dusty-pink : #D58A94;

    --gray-color : #808080;
}


main {
    text-align: left;
    justify-content: center;
    background-color: #eff1f7;
    padding-right: 10em;
    padding-left: 12em;
}

header {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding-right: 10em;
    padding-left: 1em;
    background-color: var(--light-blue);
}

#nav1 {
    padding-top: .2em;
    padding-bottom: 1em;
    text-align: left;
}

#nav2 {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    color: #bed9f2;
    align-items: center;
}

#profile {
    position: relative;
    padding: 0;
    margin-left: auto;
    margin-bottom: -10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: -1.2em;
    color: var(--dark-blue);
    z-index: 5;
}

#profile h4 {
    color: var(--light-blue-2);
}

#profile i {
    margin-top: .5em;
}

#profile-right {
    display: flex;
    flex-direction: column;
}


/*Profile popup*/

#profile-popup {
    position: absolute;
    z-index: 12312321320;
    background-color: white;
    padding: 2em;
    visibility: hidden;
    max-width: 10em;
    width: 80%;
    text-align: left;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    top: 100%; /* position it below the #profile element */
    left: 0;
}

#profile:hover #profile-popup {
    visibility: visible;
}

#profile-popup {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profile-popup h3 {
    padding-left: .3em;
}

#profile-popup-logout a {
    display: block;
    color: #33ABEF;
    text-decoration: none;
}

#profile-popup-logout a:hover {
    text-decoration: underline;
}

.navh {
    color: var(--dark-blue);
    white-space: nowrap;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px !important;

}
.navh {
    padding: 16px 40px 13px 40px;
    transition: background-color 0.3s;
}


.navh:hover {
    background-color: #5cbcf2;
    cursor: pointer;
}

#home {
    background-color: #adddf9 !important;
}


/*not the navbar calendar*/
#calendar {
    margin-left: 1em;
    margin-top: -2em;
    padding-top: 2em;
    height: 2em !important;
    max-width: 65em !important;
    min-width: 20em !important;
    font-size: 1em;
}

.white-background {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

@media (min-width: 600px) {
  body {
    font-size: .9em;
  }
}

@media (min-width: 900px) {
  body {
    font-size: 1em;
  }
}


/* the 3 boxes */

#info {
    user-select: none;
    display: flex;
    align-items: center;
    padding: 3em 1em 2em 1em;
    justify-content: space-between;
    color: white;
}

.info-section {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #33ABEF, #004AAD); /* Gradient background */
    padding: 1em;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
    transition: transform 0.3s ease; /* Transition effect */
}

.info-section:hover {
    transform: scale(1.05); /* Scale up on hover */
    cursor: pointer;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-light {
    margin-right: 1em;
    font-size: 1.5em; /* Adjust the icon size */
}

#vac-right-txt,
#sic-right-txt,
#tim-right-txt,
#send-message-txt {
    margin-top: 0.5em;
}

.white-background {
    background-color: white;
    margin-top: 2em;
    margin-bottom: 2em;
}


/* after */

#gray-background {
    position: fixed;
    z-index: 1020410240;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 105, 105, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#selective-gray-background {
    position: absolute;
    top: 8.8em; /* Adjust this value to match the height of your header */
    z-index: 2;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(105, 105, 105, 0.3);
    visibility: hidden;
}


.info-change {
    position: fixed;
    z-index: 1020410241;
    border: 1px solid var(--dark-blue);
    box-shadow: 2px 5px 5px var(--light-blue);
    background-color: var(--white-green);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    visibility: hidden;
    max-width: 400px; /* Adjust the maximum width as needed */
    width: 80%; /* Set a percentage width for responsiveness */
    text-align: center; /* Center text within the container */
}

.info-change input {
    margin-top: 1em; /* Add spacing between input and button */
    padding: 1em;
    width: 100%; /* Make the input full-width */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.info-change button {
    margin-top: 1em; /* Add spacing above the button */
    padding: 1em;
    width: 100%; /* Make the button full-width */
    border: 1px solid var(--dark-blue);
    text-decoration: none;
    background-color: var(--light-blue);
    transition: background-color 0.3s linear;
}

.info-change button:hover {
    background-color: var(--dark-blue);
    cursor: pointer;
}

/*notifications*/
#message-container,
#shift_change_container {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    padding: 1em;
}

.messages,
.shift_changes {
    display: flex;
    padding-bottom: 1em;
    flex-direction: row;
}
.shift_changes {
    padding-bottom: 1.5em;
}

.messages i,
.shift_changes i {
    margin-top: .2em;
    height: 25px;
    transition: color .3s ease;
}

.messages i:hover,
.shift_changes i:hover {
    cursor: pointer;
    color: lightgray;
}

#message-container,
#shift_change_container {
    width: auto; /* Adjust the width as needed */
    overflow-wrap: anywhere;
}

#notification-content,
#request-approved,
#message-container {
    padding-bottom: 1.5em;
}

#icons-sta {
    display: flex;
    flex-direction: column;
}


/*end notifs*/



.visible {
    visibility: visible !important;
}

.fc .fc-button {
    height: 3em;
}

.fc-button {
    transition: color .3s linear
}

.fc-button:hover {
    background-color: white;
}

.fc-state-hover {
    background-position: 0 -46px !important;
}

.fc-state-disabled {
    color: white !important;
}

.fc-center {
    border-right-width: 0px;
    margin-right: 300px;
}

.fc-center h2 {
    width: 400px;
}