<!DOCTYPE html>
<html>
    <!--https://workschedule.net/-->
    <head>
        <title>WorkFlex</title>
        <script src="../../static/javascript/home.js"></script>
        <link rel="stylesheet" href="../../static/css/home.css">
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flask Calendar</title>
        <!-- Include jQuery first -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Include FullCalendar CSS and JS from CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="../../static/images/circle-favicon.png">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> <!--Font-->

        <link href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css" rel="stylesheet"> <!--icons-->
    </head>
    <body>
        <header>
            <div id="nav1">
                <img src="../../static/images/horizontal-logo.png" alt="image" width="200em">
            </div>
            <div id="nav2">
                <a class="navh" id="home" href="{{ url_for('bp.home') }}">Home</a>
                <a class="navh" href="{{ url_for('bp.calendar') }}">Calendar</a>
                {% if employee_supervisor == 'employee' %}
                    <a class="navh" href="{{ url_for('bp.rwtc') }}">Shift Change</a>
                    <a class="navh" href="{{ url_for('bp.shift_add') }}">Add Shifts</a>
                {% endif %}
                {% if employee_supervisor == 'supervisor' %}
                    <a class="navh" href="{{ url_for('bp.employees') }}">Employees</a>
                    <a class="navh" href="{{ url_for('bp.shift_add') }}">Add Shifts</a>
                    <a class="navh" href="{{ url_for('bp.rwtc') }}">Shift Change</a>
                {% endif %}
                <div id="profile">
                    <!--make icon have name when pressed and if too long, make it "..."-->
                    <i class="fa-light fa-user"></i>
                    <div id="profile-right">
                        <h1 id="profile-popup-username">{{ info.username }}</h1>
                        <h4 id="profile-popup-es">{{ employee_supervisor }}</h4>
                        <div id="profile-popup">
                            <i class="fa-regular fa-arrow-right-from-bracket"></i>
                            <h3 id="profile-popup-logout"><a href="{{ url_for('bp.logout') }}">Log Out</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div id="gray-background"></div>
        <div id="selective-gray-background"></div>

        {% if employee_supervisor == 'employee' %}
            <div id="send-message-popup" class="info-change">
                <h1>Send a message</h1>
                <br><br>
                <form action="/send-message" method="post">
                    <input type="text" name="message" placeholder="Write your message here" required>

                    <label for="send-message-select">Person to send to:</label>
                    <select id="send-message-select" name="send-message-select" required>
                        <optgroup label="------ Other employees ------">
                            {% for employee in people_employees %}
                                <option value="{{ employee.id }}|e">{{ employee.email }}</option>
                            {% endfor %}
                        </optgroup>

                        <optgroup label="------ Supervisor ------">
                            <option value="{{ people_supervisor.id }}|s">{{ people_supervisor.email }}</option>
                        </optgroup>
                    </select>
                    <button type="submit">Submit</button>
                </form>
            </div>
        {% endif %}

        <div id="time-worked-week-popup" class="info-change">
            <h1>Change your hours worked this week</h1>
            <br><br>
            <form action="/time-worked-week-change" method="post">
                <input type="text" name="time-worked-week" placeholder="Enter hours worked" required>
                <button type="submit">Submit</button>
            </form>
        </div>

        <div id="vacation-days-left" class="info-change">
            <h1>Change your amount of vacation days left</h1>
            <br><br>
            <form action="/vacation-days-left-change" method="post">
                <input type="text" name="vacation-days-left" placeholder="Enter vacation days left" required>
                <button type="submit">Submit</button>
            </form>
        </div>

        <div id="sick-days-left" class="info-change">
            <h1>Change your amount of sick days left</h1>
            <br><br>
            <form action="/sick-days-left-change" method="post">
                <input type="text" name="sick-days-left" placeholder="Enter sick days left" required>
                <button type="submit">Submit</button>
            </form>
        </div>


        <main>
            <div id="info">
                    {% if employee_supervisor == 'employee' %}
                        <div id="send-message">       <!--ignore error-->
                            <div class="info-section" id="send-message-left">
                                <i class="fa-light fa-envelope"></i>
                                <div class="info-content">
                                    <h4 style="font-weight: normal;">Send a message</h4>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div id="send-message" style="display: none;"></div>  <!--ignore the error because of the ifelse statement-->
                    {% endif %}
                    <div id="vacation-days">
                        <div class="info-section" id="vac-left">
                            <i class="fa-light fa-island-tropical"></i>
                            <div class="info-content">
                                <h4 style="font-weight: normal;">Vacation Days left</h4>
                                <h4 id="vac-right-txt" class="info-highlight">{{ info.vacation_days }}</h4>
                            </div>
                        </div>
                    </div>

                    <div id="sick-days">
                        <div class="info-section" id="sic-left">
                            <i class="fa-light fa-thermometer"></i>
                            <div class="info-content">
                                <h4 style="font-weight: normal;">Sick Days left</h4>
                                <h4 id="sic-right-txt" class="info-highlight">{{ info.sick_days }}</h4>
                            </div>
                        </div>
                    </div>

                    <div id="time-worked-week">
                        <div class="info-section" id="tim-left">
                            <i class="fa-light fa-clock"></i>
                            <div class="info-content">
                                <h4 style="font-weight: normal;">Hours worked this week</h4>
                                <h4 id="tim-right-txt" class="info-highlight">{{ info.weekTime_worked }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="white-background" style="padding-bottom: 20em;">
            <div id="calendar"></div>
            </div>
            <div id="main-rest">
                <!--{% if message_alerts or request_approved or shift_change %}-->
                <div id="notifications"> <!--make it so that most important on top or seperate them by groups.
            make if you want to switch times with someone, confirmation popup -->
<!--                    MAKE IT LIKE A BUNCH OF DROPDOWN MENUES LIKE FINDER-->
                    <h1>Notifications</h1>
                    <div id="notification-content">
                        {% if employee_supervisor == 'employee' %}
                            <div class="shift-change"></div>
                            <div id="request-approved"></div>
                            {% if message_alerts %}
                                <div id="message-container">
                                    <h2>Messages</h2>
                                    <hr style="border-top: 1px solid #ccc;"><br style="margin-top: 0.1em;">
                                    {% for message in message_alerts %}
                                        <div class="messages">
                                            <i class="fa-light fa-circle-xmark delete-message" data-message="{{ loop.index0 }}"></i>
                                            <div class="message-content">
                                                <h2>{{ message['from_employee_email'] }}</h2>
                                                <p>{{ message['message'] }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="shift-change"></div>
                            {% if message_alerts %}
                                <div id="message-container">
                                    <h2>Messages</h2>
                                    <hr style="border-top: 1px solid #ccc;"><br style="margin-top: 0.1em;">
                                    {% for message in message_alerts %}
                                        <div class="messages">
                                            <i class="fa-light fa-circle-xmark delete-message" data-message="{{ loop.index0 }}"></i>
                                            <div class="message-content">
                                                <h2>{{ message['from_employee_email'] }}</h2>
                                                <p>{{ message['message'] }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="new-employee"></div>
                        {% endif %}
                        {% endif %}   <!--No idea why this works-->

                    </div>
                </div>
            </div>



            <!--Footer at bottom-->
        </main>
    </body>
</html>

